# VacationPy
----

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame

In [2]:
city_df = pd.read_csv('../WeatherPy/output_data/cities.csv')

In [3]:
city_df.head()

,City,Country,Lat,Lng,Date,Max Temp,Humidity,Cloudiness,Wind Speed
0,Cape Town,ZA,-33.93,18.42,1569346383,68.00,59,20,18.34
1,Mirnyy,RU,56.57,36.46,1569346457,34.64,91,71,4.59
2,Saint George,GR,39.45,22.34,1569346458,71.60,83,75,5.82
3,Bredasdorp,ZA,-34.53,20.04,1569346459,62.60,59,50,16.11
4,Ushuaia,AR,-54.81,-68.31,1569346461,53.60,57,40,36.91

### Humidity Heatmap

In [4]:
gmaps.configure(api_key=g_key)

In [5]:
fig = gmaps.figure()
fig.add_layer(gmaps.heatmap_layer(city_df[['Lat', 'Lng']], weights=city_df['Humidity'], dissipating=False, max_intensity=100, point_radius=2.5))

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria

In [11]:
idealcity_df = city_df.loc[(city_df['Max Temp']<80) &
                           (city_df['Max Temp']>70) &
                           (city_df['Wind Speed']<10) &
                           (city_df['Cloudiness']<5)].reset_index(drop=True)

In [12]:
idealcity_df

,City,Country,Lat,Lng,Date,Max Temp,Humidity,Cloudiness,Wind Speed
0,Calvillo,MX,21.85,-102.72,1569346483,71.72,46,0,3.89
1,Macomb,US,40.46,-90.67,1569346256,77.00,50,1,9.17
2,Barrow,AR,-38.31,-60.23,1569346418,75.86,30,0,7.67
3,Tres Arroyos,AR,-38.38,-60.28,1569346570,75.86,30,0,7.67
4,Rocha,UY,-34.48,-54.34,1569346627,70.64,42,0,2.86
5,Galeana,MX,24.83,-100.08,1569346632,75.00,55,0,3.24
6,Sarakhs,TM,36.54,61.16,1569346663,75.20,29,0,4.70
7,Shache,CN,38.42,77.24,1569346684,75.99,49,0,1.01
8,Newport,US,41.49,-71.31,1569346754,77.00,50,1,8.05
9,Herat,AF,34.35,62.22,1569346801,77.00,27,0,3.36
10,Nushki,PK,29.55,66.02,1569346809,76.04,12,0,3.49
11,Dicabisagan,PH,17.08,122.42,1569346911,70.82,93,3,1.54
12,Palafrugell,ES,41.92,3.16,1569346919,72.00,58,0,2.53
13,Firozabad,IN,27.15,78.40,1569346958,78.20,80,0,6.02
14,Chino Valley,US,34.76,-112.45,1569346987,75.00,59,1,6.93
15,Buin,CL,-33.73,-70.74,1569347004,72.00,35,0,5.82
16,Noumea,NC,-22.28,166.46,1569347009,72.00,82,0,1.12
17,Xiongzhou,CN,32.34,118.83,1569347016,73.00,88,0,2.24
18,Neuquen,AR,-38.95,-68.06,1569346823,78.80,21,0,8.05
19,Hami,CN,42.84,93.51,1569347042,71.18,13,0,5.37
20,San Rafael,AR,-34.61,-68.33,1569347063,76.40,14,0,8.75
21,Gualeguay,AR,-33.15,-59.31,1569347142,74.24,41,0,4.81

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# hotel_df = idealcity_df.copy()

In [8]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in idealcity_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

NameError: name 'narrowed_city_df' is not defined

In [ ]:
# Add marker layer ontop of heat map


# Display Map